<h3>Comments</h3>
<% @post.comments.each do |comment|%>
    <div class="well">
    <p><strong><%= comment.username %></strong>: <%= comment.bosy %>
    <%= link_to '[X]', [comment.post, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' }%></p>
    </div>
<%end%>