<h1>Blog Posts</h1>
<% @post.each do |post| %>
    <div class="well">
        <h3><%= post.title %></h3>
        <p><%= post.body %></p>
        <%= link_to "Detail", post_path(post), :class => 'btn btn-default' %>
    </div>
<%end%>